[project]
	description = These are a few plugins to help maven user to download different files on different protocol in part of maven build. 
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Zlatko Franjcic (zladdi)
[access "refs/for/refs/*"]
	read = group user/Zlatko Franjcic (zladdi)
	push = group user/Zlatko Franjcic (zladdi)
	label-Code-Review = -2..+2 group user/Zlatko Franjcic (zladdi)
	label-Verified = -1..+1 group user/Zlatko Franjcic (zladdi)
	rebase = group user/Zlatko Franjcic (zladdi)
	removeReviewer = group user/Zlatko Franjcic (zladdi)
	submit = group user/Zlatko Franjcic (zladdi)
[access "refs/heads/*"]
	read = group user/Zlatko Franjcic (zladdi)
	create = group user/Zlatko Franjcic (zladdi)
	push = +force group user/Zlatko Franjcic (zladdi)
	pushMerge = group user/Zlatko Franjcic (zladdi)
[access "refs/tags/*"]
	push = group user/Zlatko Franjcic (zladdi)
	push = +force group user/Zlatko Franjcic (zladdi)
